
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, sans-serif;
    background-color: #181818;
    margin:0px;

}


.header{
    background-color: #121212;
    border-bottom: 1px solid #ffc846;
    
}

.header > img{
    padding: 15px 0px 0px 20px;
    width: 200px;
}

.user p{
    color: #ffc846;
    font-weight: 600;
    float: right;
    margin-top: 44px;
    margin-right: 10px;


}
.user img{
    width: 30px;
    height: 31.5px;
    float:right;
    margin-top:35px;
    margin-right: 50px;

    padding:5px;
    border-radius:50%;
    border: 1px solid #ffc846;

}
 


.navbar li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight:600;
    color:#ffc846;
}

.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
    background-color: #121212;
    display: flex;
    flex-grow: 1;
    flex-basis: 200;
    justify-content: space-around;
    border: 0.01px solid #ffc846;

}

.navbar a:hover{
    background-color: #ffc846;
    color:#121212;

}



.main{
    color:white;
    font-size: 14px;
    padding: 50px;
}

.banner{
    width: 100%;
    margin: 50px 0;

}

.main p{
    padding:0px 10px;
}


.main h2{
    color: #ffc846;
    font-weight: 600;
    padding: 0px 10px;
    font-size: 2em;

}

.main hr, .rodape hr{
    border: none;
    height: 1px;
    background-color: #ffc846;
    margin:-10px -10px 10px -10px;
  }


.main p{
    margin:20px 0px;
}

.sla{
    width: 90%;
    height: 350px;
    background-color: #f7b415;
    margin:100px -50px;
}

.coisa{
    font-size: 5em;
    text-align: center;
}


/* -- RODAPE -- */

.rodape{
    background-color: #121212;
    border-top: solid 2px #ffc846 ;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    clear: both;
}

.rodape img{
    padding: 15px 0px 0px 20px;
    width: 200px;
}

.rodape hr{
    margin: 0px 100px;
}
.rodape h5{
    color:#ffc846;
    text-align: center;
    font-weight: 500;
    margin:0px;
    padding: 30px 0px 20px 0px;
}

/* -- LOGIN -- */

.loginblock{
    color:#ffc846;
    width: 600px;
    height: 500px;
    margin: 3% auto;
    margin-top: 60px;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.loginblock h1{
    text-align: center;
    position: relative;
    margin-bottom: 40px ;
    bottom: 30px;
    font-size:25px;
}

.loginblock p{
    text-align: start;
    font-size: 13px;
    font-weight: 500;
    padding:0px;
    margin:0px;
    margin-top: 15px;
    width: 100px;
    position: relative;
    left:110px;

}

.loginblock input[type="user"]{

    color:white;
    font-weight: 500;
    width: 370px;
    height: 30px;
    font-size: 14px;
    background-color: #292929;
    border:none;
    outline:none;
    margin:5px 0px 30px 0px;
    padding: 7px 15px;
    box-shadow: 0px 1.5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    
}

.loginblock input[type="password"]{
    color:white;
    font-weight: 500;
    width: 370px;
    height: 30px;
    font-size: 14px;
    background-color: #292929;
    border:none;
    outline:none;
    margin:5px 0px 30px 0px;
    padding: 7px 15px;
    box-shadow: 0px 1.5px rgba(0, 0, 0, 0.297);
    border-radius: 5px;

}

label{
    font-size: 11px;
    position: relative;
    padding: 10px 0px;
    right:110px;
    bottom: 25px;
    
}

.loginblock input[type="checkbox"]{
    margin-right: 5px;
}

.esqueceu{
    font-size: 11px;
    position: relative;
    padding: 10px 0px;
    left:140px;
    bottom: 51px;
    color: #ffc846;
}







.botao button{
    background-color: #ffc846;
    color:#181818;
    font-weight: 800;
    width: 130px;
    height: 40px;
    font-size: 16px;
    border:none;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.3);

}

.botao button:hover{
    background-color: #121212;
    border:1px solid #ffc846;
    color: #ffc846;
    cursor: pointer;

}




/* -- RASTREAMENTO -- */


.tabela{
    background-color: #292929;
    width: 80%;
    margin: 40px auto;
}

th{
    background-color: #ffc846;
    font-size: 18px;
}

td{
    background-color: #292929;    
    color:white;
    font-size: 14px;
    padding: 10px;
}

table, th, td {
    border: 1px solid #121212;
    border-collapse: collapse;
}





/* --CONTATO--*/

#contato{
    padding: 0;
    margin: 120px 0;
    
}

#contato h2{
    background-color: #ffc846;
    color: #181818;
    width: 100%;
    height: 150px;
    margin: 0;
    line-height: 150px;
    text-align: center;
    font-size: 2.5em;


}.contato{
    color: #ffc846;
    background: #20202070;
    width: 70%;
    height: 250px;
    margin: 30px auto;
    padding: 40px 0px;
    display: flex;
    justify-content:space-around;
    border-radius: 20px;    
}

.contato i{
    font-size: 1.5em;
}


.contato p{
    font-weight: 500;
}


.contato h4{
    color: #fff;
    font-weight: 400;
}




#localizacao{
    color: #ffc846;
    background: #20202043;
    width: 65%;
    height: 700px;
    margin: 20px auto;
    padding: 20px 0px;
    border-radius: 20px;   
}

#localizacao i{
    font-size: 1.5em;
    
}

.endereco, .tituloendereco{
    padding: 10px 40px;
    width: 75%;
    margin: 0px auto;
}

.endereco p{
    color: white;
    margin: 5px;
    font-size: 15px;
}





.mapa{
    text-align: center;
}

.mapa iframe{
    border-radius: 20px;
    width: 700px;
    height: 350px;
}




.linha{
    border-left:1px solid #ffc8463e;
    width: 0;
    height: 230px;
}




#redes{
    margin-bottom: -20px;
}

#redes h2{
    color: #ffc846;
    text-align: center;
    font-size: 1.3em;
}

#redes hr{
    width: 40%;     
    height: 1px;
    background-color: #ffc846;
    border:none;
    margin-top: -10px;
    margin-bottom: 30px;
}

.links{
    display: flex;
    justify-content: center;
}

.links a{
    margin: 20px 0px;
    padding: 0 40px;
    text-decoration: none;
    color: #fff;
}

.links a:hover{
    color: #ffc846;
}

.links i{
    font-size: 1.2em;
}
